.cardC {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  position: relative;
}

.cardC__img {
  height: 230px;
  position: relative;
}

.cardC__img img {
  width: 100%;
  height: 100%;
}

.cardC__content {
  padding: 12px;
}

.cardC__title {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 1.5;
  min-height: 48px;
}

.cardC__price {
  font-size: 20px;
  font-weight: 400;
  color: #179a94;
}

.cardC__cta {
  display: flex;
  justify-content: space-between;
}

.cardC__cartIcon {
  cursor: pointer;
  font-size: 26px;
  color: #868686 !important;
  transition: all 0.3s;
}

.cardC__cartIcon:hover {
  cursor: pointer;
  color: #32b5f3 !important;
  transform: scale(1.1);
}

.cardC__labelTop {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 14px;
  background-color: #179a94;
  color: white;
}

@media screen and (max-width: 576px) {
  .cardC__img {
    height: auto;
  }
}
